In [8]:
import pandas as pd
from census import Census 
from us import states
from config import Api_Key

In [9]:
Data=pd.DataFrame()
years=[2016,2017]
for i in years[:]:
    c = Census(Api_Key, i)
    data = c.acs5.get(("NAME",'B05006_001E',
                                'B05006_006E',
                                'B05006_007E',
                                'B05006_008E',
                                'B05006_009E',
                                'B05006_010E',
                                'B05006_011E',
                                'B05006_014E',
                                'B05006_015E',
                                'B05006_016E',
                                'B05006_017E',
                                'B05006_018E',
                                'B05006_019E',
                                'B05006_022E',
                                'B05006_023E',
                                'B05006_024E',
                                'B05006_025E',
                                'B05006_026E',
                                'B05006_029E',
                                'B05006_030E',
                                'B05006_031E',
                                'B05006_032E',
                                'B05006_033E',
                                'B05006_034E',
                                'B05006_035E',
                                'B05006_036E',
                                'B05006_037E',
                                'B05006_038E',
                                'B05006_039E',
                                'B05006_040E',
                                'B05006_041E',
                                'B05006_042E',
                                'B05006_043E',
                                'B05006_044E',
                                'B05006_049E',
                                'B05006_052E',
                                'B05006_053E',
                                'B05006_054E',
                                'B05006_057E',
                                'B05006_058E',
                                'B05006_059E',
                                'B05006_060E',
                                'B05006_061E',
                                'B05006_062E',
                                'B05006_063E',
                                'B05006_064E',
                                'B05006_065E',
                                'B05006_068E',
                                'B05006_069E',
                                'B05006_070E',
                                'B05006_071E',
                                'B05006_072E',
                                'B05006_073E',
                                'B05006_074E',
                                'B05006_075E',
                                'B05006_076E',
                                'B05006_079E',
                                'B05006_080E',
                                'B05006_081E',
                                'B05006_082E',
                                'B05006_083E',
                                'B05006_084E',
                                'B05006_085E',
                                'B05006_086E',
                                'B05006_087E',
                                'B05006_088E',
                                'B05006_093E',
                                'B05006_094E',
                                'B05006_095E',
                                'B05006_096E',
                                'B05006_099E',
                                'B05006_102E',
                                'B05006_103E',
                                'B05006_104E',
                                'B05006_110E',
                                'B05006_111E',
                                'B05006_112E',
                                'B05006_113E',
                                'B05006_114E',
                                'B05006_119E',
                                'B05006_121E',
                                'B05006_126E',
                                'B05006_127E',
                                'B05006_128E',
                                'B05006_129E',
                                'B05006_130E',
                                'B05006_131E',
                                'B05006_132E',
                                'B05006_133E',
                                'B05006_134E',
                                'B05006_135E',
                                'B05006_139E',
                                'B05006_140E',
                                'B05006_141E',
                                'B05006_142E',
                                'B05006_143E',
                                'B05006_144E',
                                'B05006_145E',
                                'B05006_146E',
                                'B05006_149E',
                                'B05006_150E',
                                'B05006_151E',
                                'B05006_152E',
                                'B05006_153E',
                                'B05006_154E',
                                'B05006_155E',
                                'B05006_156E',
                                'B05006_157E',
                                'B05006_158E',
                                'B05006_161E'), {'for': 'place:*'})
    data1=pd.DataFrame(data)
    if i==years[0]:
        Data = data1
        Data['Year']=i
    else:
        DataTest = data1
        DataTest['Year']=i
        Data=Data.append(DataTest, ignore_index=True)

In [10]:
Data.head()

,B05006_001E,B05006_006E,B05006_007E,B05006_008E,B05006_009E,B05006_010E,B05006_011E,B05006_014E,B05006_015E,B05006_016E,...,B05006_153E,B05006_154E,B05006_155E,B05006_156E,B05006_157E,B05006_160E,NAME,place,state,Year
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,"Abanda CDP, Alabama",00100,01,2016
1,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,"Abbeville city, Alabama",00124,01,2016
2,42.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,"Adamsville city, Alabama",00460,01,2016
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,"Addison town, Alabama",00484,01,2016
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,"Akron town, Alabama",00676,01,2016

In [6]:
data1 = data1.rename(columns={'B05006_001E':'Total:',
                                'B05006_006E':'England',
                                'B05006_007E':'Scotland',
                                'B05006_008E':'Ireland',
                                'B05006_009E':'Denmark',
                                'B05006_010E':'Norway',
                                'B05006_011E':'Sweden',
                                'B05006_014E':'Austria',
                                'B05006_015E':'Belgium',
                                'B05006_016E':'France',
                                'B05006_017E':'Germany',
                                'B05006_018E':'Netherlands',
                                'B05006_019E':'Switzerland',
                                'B05006_022E':'Greece',
                                'B05006_023E':'Italy',
                                'B05006_024E':'Portugal',
                                'B05006_025E':'Azores Islands',
                                'B05006_026E':'Spain',
                                'B05006_029E':'Albania',
                                'B05006_030E':'Belarus',
                                'B05006_031E':'Bulgaria',
                                'B05006_032E':'Croatia',
                                'B05006_033E':'Czechoslovakia (includes Czech Republic and Slovakia)',
                                'B05006_034E':'Hungary',
                                'B05006_035E':'Latvia',
                                'B05006_036E':'Lithuania',
                                'B05006_037E':'Macedonia',
                                'B05006_038E':'Moldova',
                                'B05006_039E':'Poland',
                                'B05006_040E':'Romania',
                                'B05006_041E':'Russia',
                                'B05006_042E':'Ukraine',
                                'B05006_043E':'Bosnia and Herzegovina',
                                'B05006_044E':'Serbia',
                                'B05006_049E':'China:',
                                'B05006_052E':'Taiwan',
                                'B05006_053E':'Japan',
                                'B05006_054E':'Korea',
                                'B05006_057E':'Afghanistan',
                                'B05006_058E':'Bangladesh',
                                'B05006_059E':'India',
                                'B05006_060E':'Iran',
                                'B05006_061E':'Kazakhstan',
                                'B05006_062E':'Nepal',
                                'B05006_063E':'Pakistan',
                                'B05006_064E':'Sri Lanka',
                                'B05006_065E':'Uzbekistan',
                                'B05006_068E':'Cambodia',
                                'B05006_069E':'Indonesia',
                                'B05006_070E':'Laos',
                                'B05006_071E':'Malaysia',
                                'B05006_072E':'Burma',
                                'B05006_073E':'Philippines',
                                'B05006_074E':'Singapore',
                                'B05006_075E':'Thailand',
                                'B05006_076E':'Vietnam',
                                'B05006_079E':'Iraq',
                                'B05006_080E':'Israel',
                                'B05006_081E':'Jordan',
                                'B05006_082E':'Kuwait',
                                'B05006_083E':'Lebanon',
                                'B05006_084E':'Saudi Arabia',
                                'B05006_085E':'Syria',
                                'B05006_086E':'Yemen',
                                'B05006_087E':'Turkey',
                                'B05006_088E':'Armenia',
                                'B05006_093E':'Eritrea',
                                'B05006_094E':'Ethiopia',
                                'B05006_095E':'Kenya',
                                'B05006_096E':'Somalia',
                                'B05006_099E':'Cameroon',
                                'B05006_102E':'Egypt',
                                'B05006_103E':'Morocco',
                                'B05006_104E':'Sudan',
                                'B05006_110E':'Cabo Verde',
                                'B05006_111E':'Ghana',
                                'B05006_112E':'Liberia',
                                'B05006_113E':'Nigeria',
                                'B05006_114E':'Sierra Leone',
                                'B05006_119E':'Australia',
                                'B05006_121E':'Fiji',
                                'B05006_126E':'Bahamas',
                                'B05006_127E':'Barbados',
                                'B05006_128E':'Cuba',
                                'B05006_129E':'Dominica',
                                'B05006_130E':'Dominican Republic',
                                'B05006_131E':'Grenada',
                                'B05006_132E':'Haiti',
                                'B05006_133E':'Jamaica',
                                'B05006_134E':'St. Vincent and the Grenadines',
                                'B05006_135E':'Trinidad and Tobago',
                                'B05006_139E':'Mexico',
                                'B05006_140E':'Belize',
                                'B05006_141E':'Costa Rica',
                                'B05006_142E':'El Salvador',
                                'B05006_143E':'Guatemala',
                                'B05006_144E':'Honduras',
                                'B05006_145E':'Nicaragua',
                                'B05006_146E':'Panama',
                                'B05006_149E':'Argentina',
                                'B05006_150E':'Bolivia',
                                'B05006_151E':'Brazil',
                                'B05006_152E':'Chile',
                                'B05006_153E':'Colombia',
                                'B05006_154E':'Ecuador',
                                'B05006_155E':'Guyana',
                                'B05006_156E':'Peru',
                                'B05006_157E':'Uruguay',
                                'B05006_158E':'Venezuela',
                                'B05006_161E':'Canada',})

In [7]:
data1.head()

,Total:,England,Scotland,Ireland,Denmark,Norway,Sweden,Austria,Belgium,France,...,Colombia,Ecuador,Guyana,Peru,Uruguay,Venezuela,Canada,NAME,place,state
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Boys Ranch CDP, Texas",09796,48
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Guthrie CDP, Texas",31640,48
2,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Gail CDP, Texas",27972,48
3,214.0,7.0,3.0,14.0,0.0,0.0,8.0,8.0,0.0,0.0,...,0.0,4.0,0.0,0.0,2.0,0.0,3.0,"Bartonville town, Texas",05768,48
4,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,"Annetta North town, Texas",03340,48